[
    {
        "prompt_name": "fraction",
        "prompt": [
            {
                "role": "system",
                "content": "You have the choice of two gambles. Pick which one you would prefer."
            },
            {
                "role": "user", 
                "content": "Gamble OPT_1_KEY can give OPT_1_CHOICE.MONEY with a chance of OPT_1_CHOICE.FRACTION.\nGamble OPT_2_KEY can give OPT_2_CHOICE.MONEY with a chance of OPT_2_CHOICE.FRACTION.\nWhich do you choose?"
            },
            {
                "role": "assistant", 
                "content": "I choose Gamble "
            }
        ]
    }, {
        "prompt_name": "fraction_with_dollars",
        "prompt": [
            {
                "role": "system",
                "content": "You have the choice of two gambles. Pick which one you would prefer."
            },
            {
                "role": "user", 
                "content": "Gamble OPT_1_KEY can give OPT_1_CHOICE.MONEY dollars with a chance of OPT_1_CHOICE.FRACTION.\nGamble OPT_2_KEY can give OPT_2_CHOICE.MONEY dollars with a chance of OPT_2_CHOICE.FRACTION.\nWhich do you choose?"
            },
            {
                "role": "assistant", 
                "content": "I choose Gamble "
            }
        ]
    }, {
        "prompt_name": "fraction_with_dollar_sign",
        "prompt": [
            {
                "role": "system",
                "content": "You have the choice of two gambles. Pick which one you would prefer."
            },
            {
                "role": "user", 
                "content": "Gamble OPT_1_KEY can give $OPT_1_CHOICE.MONEY with a chance of OPT_1_CHOICE.FRACTION.\nGamble OPT_2_KEY can give $OPT_2_CHOICE.MONEY with a chance of OPT_2_CHOICE.FRACTION.\nWhich do you choose?"
            },
            {
                "role": "assistant", 
                "content": "I choose Gamble "
            }
        ]
    }, {
        "prompt_name": "percentage",
        "prompt": [
            {
                "role": "system",
                "content": "You have the choice of two gambles. Pick which one you would prefer."
            },
            {
                "role": "user", 
                "content": "Gamble OPT_1_KEY can give OPT_1_CHOICE.MONEY with a chance of OPT_1_CHOICE.PERCENT%.\nGamble OPT_2_KEY can give OPT_2_CHOICE.MONEY with a chance of OPT_2_CHOICE.PERCENT%.\nWhich do you choose?"
            },
            {
                "role": "assistant", 
                "content": "I choose Gamble "
            }
        ]
    }, {
        "prompt_name": "percentage_with_dollars",
        "prompt": [
            {
                "role": "system",
                "content": "You have the choice of two gambles. Pick which one you would prefer."
            },
            {
                "role": "user", 
                "content": "Gamble OPT_1_KEY can give OPT_1_CHOICE.MONEY dollars with a chance of OPT_1_CHOICE.PERCENT%.\nGamble OPT_2_KEY can give OPT_2_CHOICE.MONEY dollars with a chance of OPT_2_CHOICE.PERCENT%.\nWhich do you choose?"
            },
            {
                "role": "assistant", 
                "content": "I choose Gamble "
            }
        ]
    }, {
        "prompt_name": "percentage_with_dollar_sign",
        "prompt": [
            {
                "role": "system",
                "content": "You have the choice of two gambles. Pick which one you would prefer."
            },
            {
                "role": "user", 
                "content": "Gamble OPT_1_KEY can give $OPT_1_CHOICE.MONEY with a chance of OPT_1_CHOICE.PERCENT%.\nGamble OPT_2_KEY can give $OPT_2_CHOICE.MONEY with a chance of OPT_2_CHOICE.PERCENT%.\nWhich do you choose?"
            },
            {
                "role": "assistant", 
                "content": "I choose Gamble "
            }
        ]
    }
]
